body{background-color:#000;color:#FFF;}
h3{text-align:center;font-weight:bold}
h3{text-align:left;font-weight:bold;color:#4AF;}
h4{text-align:left;font-weight:bold;color:#891;}

.binary{color:yellow;}
.chroot{color:#777;}

