<h2>SysLinux</h2>

<p>Cette partie de syslinux concerne l'apprentissage de l'écriture de menu pour le bootloader.
L'installation de SYSLinux en tant que bootloader ne sera pas abordé ici. Veuillez consulter <a href="http://www.syslinux.org/wiki/index.php/SYSLINUX#Creating_a_Bootable_Disk">documentation officielle</a> (en anglais).
<br>


<h3>mode <span class="keyword">prompt</span></h3>
<p>
Une invite attend que l'utilisateur entre une commande complète ou un label (auto-complétion fort utile!).<br>
Listes non exhaustive des possibilités de configuration du menu:
<ul>
	<li>inclusion de fichiers (modularité et réutilisation des fichiers).</li>
	<li>lancer une image disque</li>
	<li>lancement par défaut d'une action avec ou sans délai </li>
	<li>attribuer un mot de passe pour accéder à un menu</li>
</ul>
</p>

<h3>En mode  (semi)graphique - Utilisation du module (vesa)menu.c32:</h3>
<p>
Listes non exhaustive des possibilités de configuration du menu:
<ul>
	<li>toutes les fonctions du mode prompt (sauf exceptions)</lI>
	<li>plusieurs pages de menu</li>
	<li>positionnement du menu</li>
	<li>colorier du texte </li>
	<li>attribuer un fond d'écran spécifique à une page de  menu (vesamenu.c32)</li>
</ul>
</p>


<h3>Arborescence:</h3>
<span class="">La structure de fichier que j'utilise dans ce tutoriel est ainsi:</span>
<pre class="coding_file">
	<span class="fsRoot">/srv/tftp/</span><span class="fsDir0">sysMenu/</span>
	<span class="fsRoot">/srv/tftp/</span><span class="fsDir0">sysMenu/</span><span class="fsDir1">couleurs/</span>
	<span class="fsRoot">/srv/tftp/</span><span class="fsDir0">sysMenu/</span><span class="fsDir1">menus/</span>
	<span class="fsRoot">/srv/tftp/</span><span class="fsDir0">sysMenu/</span><span class="fsDir1">positions/</span>
	<span class="fsRoot">/srv/tftp/</span><span class="fsDir0">sysMenu/</span><span class="fsDir1">splashes/</span> (images de fond)
</pre>
<div class="notetip">
Rappelez vous que, dans les fichiers de configurations, les chemins sont relatifs au répertoire où se trouve le programme [sys|ext|iso|pxe]linux!</p>
<p>Vous pouvez retrouver l'intégralité de la structure des répertoires et fichiers dans cette 
<a href="?page=tutoriels&tutoriels=bootLoader&bootLoader=SYSLinuxProject&sysLinuxProject=SYSLinux&SYSLinux=SYSLinux_annexes&SYSLinux_annexes=repFile&SYSLinux_annexes=repFile&">annexe</a>.
</div>

