<h2>paramètres globaux:</h2>
<p>
Ces paramètres sont à mettre dans le fichier de configuration <span class="coding_filename">/syslinux.cfg</span> ou <span class="coding_filename"><span class="fsRoot">/srv/tftp/</span>pxelinux.cfg/default</span>. Ils ne sont pas sensible a la casse.
</p>

<h3>Les importants:</h3>

<p>
<span class="keyword">DEFAULT</span> <span class="parametre">label</span><br>
Le <span class="parametre">label</span> est exécuté quand:
<ul>
<li><span class="keyword">TIMEOUT</span> ou <span class="keyword">TOTALTIMEOUT</span> est achevé.</li>
<li>une touche d'échappement est appuyées.</li>
<li>la touche entrée est appuyé (mode prompt)</li>
</ul>
La valeur par défaut de label est "linux".<br>
</p>

<p>
<span class="keyword">UI</span> <span class="parametre">module.c32</span><br>
User Interface: module <span class="parametre">menu.c32</span> ou <span class="parametre">vesamenu.c32</span> qui remplace l'interface texte par l'interface graphique.
</p>

<p>
<span class="keyword">KBDMAP</span> <span class="parametre">keymap</span><br>
régionalise le clavier.<br>
Pour le clavier francais vous le trouverez ici: <a href="">à (re)trouver</a>
<a href="http://www.syslinux.org/wiki/index.php/Kbdmap.c32">kbdmap.c32</a> peut créer un fichier 
de clavier personnalisé.<br>
Voir cette <a href="/0pages/legralNet/sysLinuxProject/SYSLinux/locales-fr.html">page</a>.
</p>


<h3>l'inclusion de fichier:</h3>
<p>
<span class="keyword">INCLUDE</span> <span class="parametre">filename</span><br>
Inclut un fichier text. 16 niveaux de profondeur sont actuellement acceptés mais dans le future la limite sera de 8.<br>
Ce paramètre peut être utilisé n'importe où y compris dans les menus. Cela permet de faire des menus et sous menus réutilisables à plusieurs endroits.
</p>

<p>
<span class="keyword">DISPLAY</span> <span class="parametre">filename</span><br>
Affiche le contenu de <span class="parametre">filename</span> avant le prompt.
</p>

<p>
<span class="keyword">F[1-12]</span> <span class="parametre">filename</span><br>
<u>Efface l'écran</u> et affiche le contenu de <span class="parametre">filename</span> quand la touche de fonction correspondante est appuyé. Les lignes vides ou commentés avec # sont ignorées.
<pre class="coding_file">F1 filename
F2 filename
  ...etc...
F9 filename
F10 filename
F11 filename
F12 filename </pre>
</p>

<h3>gestion du temps:</h3>
<p>
<span class="keyword">TIMEOUT</span> <span class="parametre">1/10s</span>
<ul>
<lI><span class="parametreDefault">0</span>: désactive ce paramètre</li>
<lI><span class="parametre">35996</span>: maximum possible (un peu moins d'une heure)</li>
</ul>
A la fin du temps l'action DEFAULT est enclenché. Le TIMEOUT est réinitialisé a l'appui d'une touche.
</p>

<p>
<span class="keyword">TOTALTIMEOUT </span> <span class="parametre">1/10s</span><br>
Il est similaire au TIMEOUT sauf qu'il ne peut être annulé par l'utilisateur.
</p>

<p>
<span class="keyword">ONTIMEOUT </span> <span class="parametre">kernel options</span><br>
Execute la ligne <span class="parametre">kernel options</span> à la fin du timeout.

</p>

<h4>gestion des erreurs:</h4>
<p>
<span class="keyword">ONERROR</span> <span class="parametre">kernel options</span><br>
Execute la ligne <span class="parametre">kernel options</span> si un kernel n'est pas trouvé.
</p>

<h3>Les secondaires:</h3>

<p>
<span class="keyword">PROMPT</span> <span class="parametre">[0|1]</span
<ul>
<lI><span class="parametre">1</span>: affiche toujours le prompt c'est à dire le message text "boot:" </li>
<lI><span class="parametre">0</span>: ne l'affiche uniquement si Shift or Alt key is pressed, or Caps Lock or Scroll lock is set</li>
</ul>
</p>

<p>
<span class="keyword">SAY</span> <span class="parametre">message</span><br>
Affiche <span class="parametre">message</span>
</p>


<p>
<span class="keyword">NOESCAPE</span> <span class="parametre">[0|1]</span>
<ul>
<lI><span class="parametre">1</span>: désactive les touches d'échappement: Shift/Alt/Caps Lock/Scroll Lock escapes.<br>
En conjonction avec PROMPT 0: force l'activation de <span class="keyword">DEFAULT</span>.</li>
<lI><span class="parametreDefault">0</span>:Un appuit sur une touche d'échappement lance l'action par <span class="keyword">DEFAULT</span>? (à confirmer)</li>
</ul>
</p>

<p>
<span class="keyword">NOCOMPLETE</span> <span class="parametre">[0|1]</span>
<ul>
<lI><span class="parametre">1</span>:désactive l'auto-complétion en mode prompt("boot:")</li>
<lI><span class="parametreDefault">0</span>:Ami linuxien je n'ai rien à vous apprendre</li>
</ul>
</p>

<p>
<span class="keyword">ALLOWOPTIONS</span> <span class="parametre">[0|1]</span>(en mode prompt)
<ul>
<lI><span class="parametreDefault">1</span>:seul les paramètres inscrits dans <span class="keyword">APPEND</span> sont autorisés (ont peut en supprimer mais pas en inventer).</li>
<lI><span class="parametre">0</span>: l'utilisateur peut ajouté n'importe quel paramètre au lancement du kernel via append</li>
</ul>
</p>
