<h2>memDisk</h2>
<p>
MemDisk-kernel est un module du projet Syslinux qui émule un support en fonction de du fichier image donnée comme initRamDisk.<br>
Les périphériques supportés sont: disquette(.img) disque dur(.img/.iso), cdrom(.iso). Le type de périphérique est normalement auto-détecté selon la taille de l'image disque mais peut être forcer via le paramètre APPEND.
</p2>

La syntaxe:
<span class="coding_filename"><span class="fsRoot">/srv/tftp/</span><span class="fsDir0">pxelinux.cfg/</span>default</span>
<pre class="coding_file">
 <span class="keyword">label</span> <span class="parametre">hdt</span>
   <span class="keyword">kernel</span> <span class="parametre"> modules/memdisk</span>
   <span class="keyword">append</span> <span class="parametre">harddisk</span>
   <span class="keyword">initrd</span> <span class="parametre"> images/hdt/hdt.img</span>

 <span class="keyword">label</span> <span class="parametre">hdt_via_iso</span>
   <span class="keyword">kernel</span> <span class="parametre"> modules/memdisk</span>
   <span class="keyword">append</span> <span class="parametre"> iso</span>
   <span class="keyword">initrd</span> <span class="parametre"> images/hdt/hdt.iso</span>

# title Boot DOS from floppy image (with 'raw' parameter)
 <span class="keyword">label</span> <span class="parametre">iso_raw</span>
   <span class="keyword">kernel</span> <span class="parametre"> /syslinux/memdisk</span>
   <span class="keyword">append</span> <span class="parametre"> raw</span>
   <span class="keyword">initrd</span> <span class="parametre"> /dosboot.img</span>

# charger une iso via http
 <span class="keyword">label</span> <span class="parametre">load_iso_via_http</span>
   <span class="keyword">kernel</span> <span class="parametre"> /syslinux/memdisk</span>
   <span class="keyword">append</span> <span class="parametre">iso</span>
   <span class="keyword">initrd</span> <span class="parametre"><span class="keyword">http://</span>192.168.1.100/images/pmagic/pmagic-4.2.iso</span>
</pre>

<h3>Lancer une image disque .iso récalcitrante</h3>
<p>Si une image iso refuse de se lancer avec la commande précédente la solution consiste à:


<h4>monter l'image dans un répertoire:</h4>
<p>
<pre class="coding_root">mount -o loop <span class="fsRoot">/srv/tftp/</span>images/image.iso /media/iso (<a title="voir note1" href="#note1">1</a>)</pre>
ou:<br>
<span class="coding_filename">/etc/fstab</span>
<pre class="coding_file">/srv/tftp/images/linux/debian/debianLive-7.2-i386-lxde-desktop.iso  /srv/tftp/images/linux/debian/debianLive-7.2-i386-lxde-desktop.mount  iso9660 loop,auto 0 0
</pre>
</p>

<h4>les appeler via un menu</h4>
<p>
<span class="coding_filename"><span class="fsRoot">/srv/tftp/</span><span class="fsDir0">pxelinux.cfg/</span>default</span>
<pre class="coding_file">
 <span class="keyword">label</span> <span class="parametre">hdt</span>
   <span class="keyword">kernel</span>       <span class="parametre"><span class="fsDir0">images/</span>linux/debian/debianLive-7.2-i386-lxde-desktop.mount/</span>vmlinux2.img
   <span class="keyword">append</span> <span class="parametre"><span class="parametre">fetch</span>=<span class="fsDir0">images/</span>linux/debian/debianLive-7.2-i386-lxde-desktop.mount/</span>filesystem.squash</span>
   <span class="keyword">initrd</span>       <span class="parametre"><span class="fsDir0">images/</span>linux/debian/debianLive-7.2-i386-lxde-desktop.mount/</span>initrd2.img
</pre>
</p>

<h3>notes:</h3>
<ol>
<li><a target="notes" name="note1" href="http://www.cyberciti.biz/tips/how-to-mount-iso-image-under-linux.html">monter une image iso (http://www.cyberciti.biz/tips/how-to-mount-iso-image-under-linux.html)</a></li>
</ol>

<h3>Référence:</h3>
<ul>
<li><a target="reference" href="http://www.syslinux.org/wiki/index.php/MEMDISK">http://www.syslinux.org/wiki/index.php/MEMDISK</a></li>
</ul>
