<h2>outils divers</h2>

<p>
<h3>configurer une carte reseau</h3>
fichier: /etc/network/interfaces
<pre class="coding_file">
auto eth0
iface eth0 inet static
        address 172.16.0.152
        netmask 255.255.0.0
        network 172.16.0.1
        broadcast 172.16.255.255
        gateway 172.16.0.254
        dns-nameservers 172.16.0.254
</pre>
<h3>Relancer le service reseau</h3>
<pre class="coding_root">invoke-rc.d networking restart</pre>

<h3>MemTest</h3>
<p>
<a target="_blank" href="http://www.memtest.org/">site officiel (http://www.memtest.org)</a>
</p>



