<h2>Personalisation d'une image -les packtages-list et les tasks</h2>

<h3>les packtages-list</h3>

<p>
Les packtages-list est un ensemble de nom de paquet (et non les paquets eux meme) qui doivent etre install&eacute; dans un but precis<br>
Ex:<br>
le pactage rescue rassemble tous les .deb qui sont neccassire pour creer un image de recuperation.<br>
<pre>
--packtages-list rescue
</pre>


<h3>les packtages-list pr&eacute;d&eacute;finis</h3>
<p>
Les packtages-list pr&eacute;d&eacute;finit sont dans: config/chroot_local-packageslists/<br>
Il existe &eacute;galement 4 packtages-list virtuels pour les bureaux: gnome-desktop kde-desktop lxde-desktop xfce-desktop.
</p>


<h3>les packtages-list personels (appell&eacute; local)</h3>
<p>
Les packtages-list personels sont a mettre dans a mettre dans ./config/chroot_local-packageslists/.<br>
Il y a 1 fichier par packageslists et doit se finir  par '.list'. Les paquets seront install&eacute;s dasn l'ordre d'apparition.<br>
Ex:<br>
monEnsemble.list<br>
comprenant:
<pre class="coding_file">
gnome-core
iceweasel
</pre>

<u>Pour inclure une autre  packtages-list utiliser la commande #include</u>
<pre class="coding_file">
#include &lt;gnome&gt;
iceweasel
</pre>
L'imbrication d'include est autoris&eacute;. (à confirm&eacute;)!<br>

<u>Ajout/inclusion conditionel</u>
<p>Ex:<br>
<pre class="coding_file">
#if ARCHIVE_AREAS contrib non-free
#include <monPacktage>
vlc
#endif
</pre>
L'imbrication de condition n'est pas possible.
</p>

<h3>les tasks</h3>
<p>
Les taches sont une version evolues des packages-list car en plus d'installer plusieurs logiciels il les configures.<br>
<div class="notetip">
Pour connaitre la liste des taches:
<pre class="coding_user">$ tasksel --list-tasks</pre>
<pre class="coding_file">
R&eacute;sultat:
i desktop		Graphical desktop environment
u web-server		Web server
i print-server		Print server
u dns-server		DNS server
u file-server		File server
i mail-server		Mail server
u database-server	SQL database
u ssh-server		SSH server
i laptop		Laptop
u manual		manual package selection
</pre></div>
</p>
