<h2>live-boot: Personalisation du lancement de initramfs</h2>
<p>
<pre></pre>
Cependant l'image doit avoir le paquet live-boot. c'est lui qui gère le chargement d'un environement persistent.
</p>

<h3>Mécanisme</h3>
<p>
<b>initramfs</b> comme son nom l'indique charge un système de fichier en mémoire vive. Ce systéme n'est pas persistant.<br>
<b>live-boot</b> modifie le comportement de initramfs pour lui faire chercher un repertoire '/live'. A l'interieur de ce '/live' se trouve un 


live-boot contient des scripts(hooks) qui configure le 'Debian Live system' durant le boot.

Il est un hook utilisé pour générer un initramfs capable de lancer(booter) des systèmes "Live". C'est a dire qu'il va le modifier pour chercher des emplacement "/live" à la racine du système de 
</p>


