<style>.Défaut{font-weigth:bold;}</style>
<h2>personalisation d'une image: configuration de l'apt et utilisation de proxy</h2>
<p>
<div class="noteclassic">Cette étape est facultative.</div>
Ici vous pouvez configurer l'installeur des paquets .deb et configurer les proxys.<br>
L'utilisation de site proxy(cache) permet de gagner du temps lors des téléchargement des paquets debian.


<!-- ******************************************************** -->
<hr><div  class="sectionTitre">Configuration de l'installateur de paquet(apt/aptitude)</div>

<h3>Choix de l'installateur</h3><pre class="coding_user">lb config --apt apt|aptitude</pre>

<h3>ajouter des option</h3><pre class="coding_user">	lb config  --apt-options OPTION|"OPTIONS"</pre>
<h3>ajouter des option</h3><pre class="coding_user">	lb config  --aptitude-options OPTION|"OPTIONS"</pre>

<h3></h3><pre class="coding_user">	lb config --apt-recommends true|false</pre>active ou non l'installation automatique des paquets recommandés.
<h3></h3><pre class="coding_user">	lb config --apt-secure true|false</pre>

<h3>Ajout d'un proxy apt</h3>
<pre class="coding_user">
 lb config --apt-http-proxy http://proxy/		#Défaut:vide
 lb config --apt-ftp-proxy http://proxy/		#Défaut:vide
</pre>


<!-- ******************************************************** -->
<hr><div  class="sectionTitre">Définition des proxy</div>
<div class="notetip">Si vous faites de nombreuses images il est conseiller d'installer son propre proxy (voir le <a href="">tuto</a>)</div>
<pre class="coding_user">
	lb config -m|--mirror-bootstrap URL		#Défaut:http://ftp.de.debian.org/debian/
	lb config --mirror-chroot URL				#Défaut:valeur de --mirror-bootstrap
	lb config --mirror-chroot-security URL		#Défaut:http://security.debian.org/debian/
	lb config --mirror-chroot-volatile URL		#Défaut:valeur de --mirror-chroot
	lb config --mirror-chroot-backports URL		#Défaut:http://backports.debian.org/debian-backports/

	lb config -m|--mirror-binary URL			#Défaut:http://cdn.debian.net/debian/
	lb config --mirror-binary-security URL		#Défaut:http://cdn.debian.net/debian-security/
	lb config --mirror-binary-volatile URL		#Défaut:valeur de --mirror-binary/
	lb config --mirror-chroot-backports URL		#Défaut:http://backports.debian.org/debian-backports/

	lb config  --mirror-debian-installer URL	#Défaut:valeur de --mirror-bootstrap
</pre>


<!-- ******************************************************** -->
<hr><div  class="sectionTitre">Gestion des caches locaux</div>
<p>Les caches locaux se trouvent dans ./config/cache/</p>
<h3>Active ou désactive globalement les caches locaux</h3><pre class="coding_user">	lb config --cache true|false</pre>
<h3></h3><pre class="coding_user">	lb config --cache-indices true|false</pre>
<h3></h3><pre class="coding_user">	lb config --cache-packages true|false</pre>
<h3></h3><pre class="coding_user">	lb config --cache-stages true|false|STAGE|"STAGES"</pre>




<!-- ******************************************************** -->
<hr><div  class="sectionTitre">Divers</div>
<h3></h3><pre class="coding_user">	lb config --binary-indices true|false|none</pre>Génére ou non les indices lors de l'installation des paquets. Ne pas les générer permet de réduire la taille du fichier images mais dans ce cas l'utilisateur live devra faire un "#aptitude update".

