<h2>Pr&eacute;paration</h2>

<h3>instalation des logiciels utilises</h3>
<p>
<pre class="coding_root">	aptitude install live-build live-boot live-config</pre>
</p>


<h3>Preparation de la Construction d'une image debian</h3>
<div class="noteimportant">Cette preparation est importante faite la (et jusqu'au bout!)</div>
<p>

les etapes:
<ul>
	<li>creation du repertoire de travail
	<pre class="coding_user">
	mkdir imgTest
	cd imgTest
	</pre>
	</li>
	<li>
	creation de l'arborescence
	<pre class="coding_user">
	lb config
	</pre>

Resultat:
<pre class="coding_file">
./auto
./auto/functions
./auto/scripts

./config
<span class="binary">
./config/binary_debian-installer
./config/binary_debian-installer-includes
./config/binary_grub
./config/binary_local-debs
./config/binary_local-hooks
./config/binary_local-includes	// cette arborescence sera copier en surcharge sur l'image (support:USB,CD,etc). ex: ./config/binary_local-includes/autorun.bat -> /autorun.bat
./config/binary_local-packageslists
./config/binary_local-udebs
./config/binary_rootfs
./config/binary_syslinux
</span>
<span class="chroot">
./config/chroot_apt
./config/chroot_local-hooks
./config/chroot_local-includes	// cette arborescence sera copier en surcharge sur la live. ex: ./config/chroot_local-includes/racine.txt -> /racine.txt
./config/chroot_local-packages
./config/chroot_local-packageslists
./config/chroot_local-patches
./config/chroot_local-preseed		// reponse automatique au debconf
./config/chroot_sources		// ajout des source deb
./config/includes
./config/templates
</span>
<b>fichiers</b>
./config/binary
./config/bootstrap
./config/chroot
./config/common
./config/source
</pre>

Precision sur binary et chroot
binary represente le support  cd,usb.
chroot  reprensete le systeme de fichier du live une fois mont&eacute;.
	</li>

	<li>
netoyage de l'arborescence (inutile a la premiere creation mais a faire entre 2 constructions (lb build))
	<pre>
	# lb clean
	</pre>
	</li>

	<li>
<p>
Personalisation de l'image<br>
le meilleur moyen de parametrer la configuration est d'utiliser le repertoire auto. <br>
Pour cela creer et render executable les 3 fichiers suivant: ./auto/config ./auto/build ./auto/cean
<pre class="coding_user">
echo '#!/bin/sh' > ./auto/config
echo 'lb config noauto	\ ' >> ./auto/config
echo '# --packages-lists standard \ ' >> ./auto/config
echo ' "${@}" ' >> ./auto/config

echo '#!/bin/sh' > ./auto/clean
echo 'lb clean noauto "${@}" ' >> ./auto/clean
echo 'rm -f config/binary config/bootstrap	\ ' >> ./auto/clean
echo ' config/chroot config/common config/source ' >> ./auto/clean
echo 'rm -f binary.log ' >> ./auto/clean

echo '#!/bin/sh' > ./auto/build
echo 'lb build noauto "${@}" 2>&1 | tee binary.log' >> ./auto/build
# set executable
chmod +x ./auto/config
chmod +x ./auto/build
chmod +x ./auto/clean
</pre>
</p>


<p>
<div class="notetip">Le parametre noauto empeche un nouvel appele au repertoire auto (appelle recursif).</div>
A ce stage vous pouvez personaliser votre image ou directement construire une image de base en lancant la commande de construction
<div class="notewarning">La construction doit se faire en root!</div>
<pre class="coding_root">lb build</pre>
ou, si vous n'avez pas personalis&eacute; ./auto/build
<pre class="coding_root">lb build noauto "${@}" 2>&1 | tee binary.log</pre>
</p>
