<h1 class="h1">openElec - lancer via PXE</h1>
<p>
Lancer openElec via PXE permet d'avoir un media center sur n'importe quel pc bootable via le lan.<br>
La configuration sera coservé sur un repertoire nfs. Toutes les machines pourront donc avoir la même configuration.<br>
</p>

<h2 class="h2">infrastructure</h2>
<p>
Cette configuration repose sur l'infrastructure suivante:
<ul>
	<li>service pxe (soit serveur dhcp,tftp,pxe): ip 192.168.100.252 (raspberry Pi modele B)</li>
	<li>serveur NFS:  ip 192.168.100.253 (raspberry Pi modele B)</li>
</ul>
Ici les fichiers KERNEL et SYSTEM d'openElec ne sont pas sur le même systeme, mais dans la plupart des cas ils seront dans le même repertoire (du même système)
</p>

<h2 class="h2">requis</h2>
<p>Il vous faudra donc:
<ol>
	<li>un service PXE  (voir le <a href="?tutoriels=bootLoader&bootLoader=sysLinuxProject&PXELinux=accueil">tuto</a>)</li>
	<li>un service NFS (voir .. à ben non pas encore de tuto sur NFS  ici!)</li>
	<li>récupérer les fichiers openelec</li>
</ol>
</p>

<div class="noteimportant">les fichiers de configuration doivent être adapté à votre système! </div>


<h2 class="h2">parametrer PXE</h2>
<p>
<span class="coding_filename">/srv/tftp/pxelinux.cfg/default</span>
<pre class="coding_file">label xbmc_64
kernel <span class="coding_filename">/srv/tftp/images/openElec/OpenElec-Genereic.x64-4.2.1/KERNEL</span>
#le programme "KERNEL" va chercher SYSTEM à la racine du repertoire NFS
append ip=dhcp boot=NFS=192.168.100.253:/partitions/mediatheques/install/os/openElec/OpenElec-Genereic.x64-4.2.1/ disk=NFS=192.168.100.253/partitions/homeExt/openElec
</pre>
</p>


<h2 class="h2">parametrer NFS</h2>
<p>
<span class="coding_filename">/etc/exports</span>
<pre class="coding_file">#partager le repertoire où se trouve SYSTEM
<span class="coding_filename">/partitions/mediatheques/install/os/openElec/OpenElec-Genereic.x64-4.2.1/</span> 192.168.100.0/24(no_root_squash,ro,async,no_subtree_check)
#partager en écriture le repertoire "home" d'openElec
<span class="coding_filename">/partitions/homeExt/openElec</span> 192.168.100.0/24(no_root_squash,rw,async,no_subtree_check)</span>
</pre>
</p>

charger les nouveaux repertoires
<pre class="coding_root">service nfs-kernel-server reload</pre>
</p>

<h2 class="h2">openElec</h2>
<p>

<ol>
	<li>Télécharger le dernier builds d'openElec: <a target="_blank" href="http://openelec.tv/get-openelec/download/viewcategory/8-generic-builds/">http://openelec.tv/get-openelec/download/viewcategory/8-generic-builds</a></li>
	<li>d"compresser le fichier tar: tar -xf ./*tar</li>
	<li>copier dans ./target/KERNEL dans <span class="coding_filename">/srv/tftp/images/openElec/OpenElec-Genereic.x64-4.2.1/KERNELall</span></li>
	<li>copier dans ./target/SYSTEM dans <span class="coding_filename">192.168.100.252/partitions/mediatheques/install/os/openElec/OpenElec-Genereic.x64-4.2.1/</span></li>
</ol>
</p>

