<h1 class="h1">langage - shell</h1>
<p>
Récupérer le nom du script en cours (ou inclut)
<pre class="coding_file">scriptName=${0##*/};
echo "$scriptName"; #->monscript.sh</pre>

Récupérer le chemin où se situe le script en cours (ou inclut)
<pre class="coding_file">scriptName=${0##*/};
echo "$scriptName";
#->. s'il est lancé depuis le répertoire soù se situe le script où
#-> c/h/e/m/i/n/r/e/l/a/t/i/f  s'il est lancé ailleur</pre>
</p>

